.env

# Python
__pycache__/
*.pyc

# Local database
chroma_db/

# Generated output files
output_*.wav
output_*.mp4

# Log files
*.log

# Large model files (downloaded dynamically)
models/onnx_llm_model/Qwen_Qwen1.5-1.8B-Chat/
/ui/IMMA/Properties/launchSettings.json
output_en.wav
output_zh-cn.wav
output_wav2lip.mp4